<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	
	
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 	http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd
						http://www.springframework.org/schema/security 			http://www.springframework.org/schema/security/spring-security-3.2.xsd
						http://www.springframework.org/schema/beans 			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context 			http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/util 				http://www.springframework.org/schema/util/spring-util-4.1.xsd
						http://www.springframework.org/schema/tx 				http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/jdbc 				http://www.springframework.org/schema/tx/spring-jdbc-4.1.xsd
						http://www.springframework.org/schema/aop 				http://www.springframework.org/schema/tx/spring-aop-4.1.xsd
						http://jax-ws.dev.java.net/spring/core					http://jax-ws.dev.java.net/spring/core.xsd
						http://jax-ws.dev.java.net/spring/servlet				http://jax-ws.dev.java.net/spring/servlet.xsd">

	<!-- <import resource="classpath*:**/applicationContext-services.xml"/>
	<import resource="classpath*:**/applicationContext-configuration-authentication.xml"/>
	<import resource="classpath*:**/applicationContext-exception-management.xml"/> -->
	<!--  Weblogic -->
	<import resource="applicationContext-services.xml"/>
	<import resource="classpath*:**/*applicationContext-configuration-authentication.xml"/>
	<import resource="classpath*:**/*applicationContext-exception-management.xml"/>
	
	
	<!--   <context:component-scan base-package="com.afrAsia"></context:component-scan> -->
	
	<!-- <wss:binding url="/DigitalTransaction">
        <wss:service>
            <ws:service bean="#dtdpsSoapService"/>
        </wss:service>
    </wss:binding> -->
	
	<bean id="dateDifferenceException" class="com.afrAsia.customexception.DateDifferenceException">
		<!-- <property name="dateDifferenceException" ref="dateDifferenceException" /> -->
	</bean>
	
	<bean id="idNotFoundException" class="com.afrAsia.customexception.IdNotFoundException">
		<!-- <property name="idNotFoundException" ref="idNotFoundException" /> -->
	</bean>
	
	<bean id="UserRestService" class="com.afrAsia.rest.UserRestService" >
		<property name="userService" ref="userService" />
	</bean>
	
	<bean id="dtdpsRestService" class="com.afrAsia.rest.DTDPSRestService" >
		<property name="dtdpsService" ref="dtdpsService" />
	</bean>
	
	<bean id="appVersionRestService" class="com.afrAsia.rest.AppVersionRestService" >
		<property name="appVersionService" ref="appVersionService" />
	</bean>
	
	<bean id="productRestService" class="com.afrAsia.rest.ProductRestService" >
		<property name="productService" ref="productService" /> 
	</bean>
	
	<bean id="masterDataRestService" class="com.afrAsia.rest.MasterDataRestService" >
		<property name="masterDataService" ref="masterDataService" />
	</bean>
	
	<bean id="dashBoardSummaryRestService" class="com.afrAsia.rest.DashBoardSummaryRestService" >
		<property name="dashBoardService" ref="dashBoardService" />
	</bean>
	
	<bean id="myTrackerRestService" class="com.afrAsia.rest.MyTrackerRestService" >
		<property name="rmApplicationsAppService" ref="rmApplicationsAppService" />
	</bean>
	
	<bean id="addCommentRestService" class="com.afrAsia.rest.AddCommentRestService" >
		<property name="addCommentService" ref="addCommentService" />
	</bean> 
	
	<bean id="complianceRestService" class="com.afrAsia.rest.ComplianceRestService" >
		<property name="complianceService" ref="complianceService" />
	</bean> 
	
	<bean id="authenticationRestService" class="com.afrAsia.rest.AuthenticationRestService" >
		<property name="authenticationService" ref="authenticationService" />
	</bean>
	
	<bean id="applicationDetailsRestService" class="com.afrAsia.rest.ApplicationDetailsRestService" >
		<property name="applicationDetailsService" ref="applicationDetailsService" />
	</bean>
		
	<util:properties id="mailProperties" location="file:mail.properties" ignore-resource-not-found="false" />
	<!--  	<context:property-placeholder location="classpath:mail.properties" />-->
	<bean id="mailConfig" class="com.afrAsia.Utils.AfrAsiaMailConfig">
        <property name="mailhost" value="${mailhost}"/>    
        <property name="mailport" value="${mailport}"/>
        <property name="mailFrom" value="${mailFrom}"/>
        <property name="mailPassword" value="${mailPassword}"/>
        <property name="smtpAuthRequired" value="${smtpAuthRequired}"/>
        <property name="smtpAuthstarttls" value="smtpAuthstarttls"/>
    </bean>
	
	
	<bean id="accountCreationRestService" class="com.afrAsia.rest.AccountCreationRestService" >
		<property name="accountCreationService" ref="accountCreationService" />
		<property name="afrAsiaMailConfig" ref="mailConfig" />
	</bean>
	
	<!-- Upload KYC document rest service bean -->
	<bean id="kycRestService" class="com.afrAsia.rest.KYCRestService" >
		<property name="kycService" ref="kycService" />
	</bean>
	
	<!--  Download KYC document -->
	<bean id="kycDocDownloadRestService" class="com.afrAsia.rest.KycDocDownloadRestService" >
		<property name="kycDocDownloadService" ref="kycDocDownloadService" />
	</bean>
	
	<!-- <bean id="dtdpsSoapService" class="com.afrAsia.soap.DTDPSSoapService" >
		<property name="dtdpsService" ref="dtdpsService" />
	</bean> -->
	
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="SYSTEM" />
		<property name="password" value="sameer" />
		<property name="password" value="sameer" />			
		<property name="initialSize" value="2" />
		<property name="maxTotal" value="5" />
		<property name="maxIdle" value="1" />
		<property name="minIdle" value="1" />
	</bean>  -->
</beans>